<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vuestudy.demo1101.dao.AddMapper">

<!--   下面的代码把useGeneratedKeys="true" keyProperty="id"删除了，不能获取到递增的id-->
   <insert id="adduser" parameterType="com.vuestudy.demo1101.entity.User"  >
      INSERT INTO user(username,password)
      VALUES (#{username},#{password})
   </insert>


</mapper>